table {
    width: 1000px;
    background-color: white;
    border:2px solid blue;
    border-collapse: collapse;
    

}

#sor {
    width: 200px;
}

td,th  {border:1px solid red;
      

}
.sss{
    text-align: right;
}
a {
    font-style: italic;
}
.ss {
    text-align: left;
}
.ssss{
    text-align: center;
    width: 100px;
}